body{
    background-color: rgb(250, 166, 136);
}
#todo-container{
    border: 1px solid blue;
    width: 50%;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#main-container{
    display: flex;
    justify-content: space-evenly;
}
#input-container{
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    color: black;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 button{
    padding: 8px 12px;
    color: rgb(141, 117, 117);
    background-color: #94c7f1;
    border: none;
    border-radius:8px ;
    cursor: pointer;
}
input {
    font-weight:bold;
    display: flex;
    padding: 8px 12px;
    border-radius: 8px;

}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}
.done{
    background-color: green;
}
.pending{
    background-color: red;
}
